{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class='col-4'>
        
    </div>
</div>
<div class="container-login">
    
    <div class='col-4'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        <h3>Авторизация</h3><br>
        <form action={{ url_for('user.process_login') }} method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username() }}<br>

            {{ form.password.label }}<br>
            {{ form.password() }}<br>
            <a href={{ url_for('user.registration') }}>Новый пользователь?</a><br><br>
            <div class="form-check">
                {{ form.remember_me() }}
                {{ form.remember_me.label }}
            </div><br>
            
            <div class="d-grid gap-2 col-4 mx-auto">
                {{ form.submit(class="btn btn-primary ") }}<br><br>
              </div>
            
            
        </form>
        
    </div>
</div>
{% endblock %}