{% extends 'base.html' %}
{% block content %}
<div class="container-newad">
    <h4></h4><br>
    
 
    <div class='col-4'>
        <h3>О квартире</h3><br>
        <form action={{ url_for('user.process_add') }} method="POST">
            {{ form.hidden_tag() }}
            {% for i in form.rooms %}
                <div class="form-check form-check-inline">
                    {{ i(class="form-check-input") }}{{ i.label(class="form-check-label") }}<br>
                </div>
            {% endfor %}<br><br>
            <span>Тип дома:</span><br><br>
            {% for i in form.material %}
                <div class="form-check form-check-inline">
                    {{ i(class="form-check-input") }}{{ i.label(class="form-check-label") }}<br>
                </div>
            {% endfor %}<br><br>
            {{ form.adress.label }}
            <div class="input-group mb-3">
                {{ form.adress() }} 
            </div>
            {{ form.metro.label }}
            <div type="text" class="input-group mb-3">
                {{ form.metro() }}
             </div>
            {{ form.price.label }}
            <div class="input-group mb-3">
                {{ form.price() }}
                <span class="input-group-text">₽</span>
            </div>
            {{ form.area.label }}
            <div class="input-group mb-3">
                {{ form.area() }}
                <span class="input-group-text">м²</span>
            </div>
            {{ 'Коммиссия' }}
            <div class="input-group mb-3">
                {{ form.commission() }}
                <span class="input-group-text">%</span>
            </div>
            {{ form.deposit.label }}
            <div class="input-group mb-3">
               {{ form.deposit() }}
               <span class="input-group-text">₽</span>
            </div><br>
             
             <div class="d-grid gap-2 col-4 mx-auto">
                <input class="btn btn-primary btn-sm" type="submit" value="Разместить"><br>
              </div>
            
        </form><br><br>
        
    </div>

</div>
{% endblock %}