{% extends 'Base.html' %}
{% block content %}>
<div class="container-sm">
  <div class="h-100 p-5 bg-light border rounded-3">
    <form action="{{ url_for('rep') }}" method="POST">
      <div class='row'>
        <div class='col-4'>
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" name='num_rooms' value='0' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">Студия</label>
            
            <input type="checkbox" class="btn-check" id="btncheck2" name='num_rooms' value='1' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck2">1</label>
          
            <input type="checkbox" class="btn-check" id="btncheck3" name='num_rooms' value='2' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck3">2</label>

            <input type="checkbox" class="btn-check" id="btncheck4" name='num_rooms' value='3' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck4">3</label>

            <input type="checkbox" class="btn-check" id="btncheck5" name='num_rooms' value='4' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck5">4</label>

            <input type="checkbox" class="btn-check" id="btncheck6" name='num_rooms' value='5' autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck6">5</label>

          </div>
        </div>
      
        <div class='col-4'>
          <div class="input-group">
            <span class="input-group-text">Цена</span>
            <input type="number" name="from" aria-label="First name"  placeholder="От" class="form-control">
            <input type="number" name="to" aria-label="Last name" placeholder="До"class="form-control">
          </div>
        </div>

      </div>
      <div class='row'>
        <div class='col-4'>
          <div class="form-check form-switch">
            <input class="form-check-input" name="deposit" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Без залога</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" name="commission" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Без комиссии</label>
          </div>
        </div>

          
          <div class='col-4'>
            <div class="input-group">
              <span class="input-group-text">Площадь</span>
              <input type="number" name="min" aria-label="First name"  placeholder="От" class="form-control">
              <input type="number" name="max" aria-label="Last name" placeholder="До"class="form-control">
            </div>
          </div>

      </div>
      <h6>Тип дома:</h6>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck7" name='material' value='Кирпичный' autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck7">Кирпичный</label>
        
        <input type="checkbox" class="btn-check" id="btncheck8" name='material' value='Монолитный' autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck8">Монолитный</label>
      
        <input type="checkbox" class="btn-check" id="btncheck9" name='material' value='Блочный' autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck9">Блочный</label>

        <input type="checkbox" class="btn-check" id="btncheck10" name='material' value='Панельный' autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck10">Панельный</label>

        <input type="checkbox" class="btn-check" id="btncheck11" name='material' value='Деревянный' autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck11">Деревянный</label>

      </div>
      <button class="btn btn-primary" type='submit'>Primary</button> 
      </div>
      
    </form>
  </div>
</div>
<div class="container-sm">
  <div class="col-8">
    <h5>Результаты запроса:</h5>
    {% for flat in flats %}
      <div class="h-100 p-5 bg-light border rounded-3">
        <div class="container-sm">
          <div class="row">
            <div class="col">
              <a href={{ flat.link }} target="_blank">{{ flat.num_rooms }}-комнатная квартира {{ flat.area}} м²</a><br>
              
              
              <h7>{{ flat.street }}</h7><br>
              <h7>м. {{ flat.metro }}</h7>
            </div>
            <div class="col-4">
              <h7>{{ flat.price }} &#8381/мес.</h7><br>
              {% if flat.deposit == 0 %}
                <h7>Без залога</h7><br>
              {% else %}
                <h7>Залог {{ flat.deposit }} &#8381</h7><br>
              {% endif %}
              {% if flat.commission == 0 %}
                <h7>Без комиссии</h7><br>
              {% else %}
                <h7>Комиссия {{ flat.commission }} %</h7><br>
              {% endif %}
              <h1></h1>
              <a href={{ flat.link }} button type="button" target="_blank" class="btn btn-primary btn-sm">Перейти к объявлению</a><br>
            </div>
          </div>
        </div>
          
        
    
         
     
      </div>
    {% endfor %}
  
  </div>
</div>
  
</div>

{% endblock %}