{% extends 'Base.html' %}
{% block content %}>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
<div class="container-sm">
  <h4>Аренда квартир в Москве</h4><br>
  <div class="h-100 p-5 bg-light border rounded-3">
    <form action="{{ url_for('ads.result') }}" method="POST">
      <div class='row '>
        <div class='col-4'>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Цена</span>
            {{ form.hidden_tag() }}
            {{ form.price_min(type='number', placeholder="От") }}
            {{ form.price_max(type='number', placeholder="До") }}
          </div>
          
          <h7>Количество комнат:</h7><br><br>
          {% for i in form.rooms %}
            {{ i }}
            {{ i.label }}<br>
          {% endfor %}<br>
        </div>
      
        <div class='col-4'>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Площаль</span>
              {{ form.area_min(type='number', placeholder="От")}}
              {{ form.area_max(type='number', placeholder="До") }}
          </div>
          <h7>Тип дома:</h7><br><br>
          {% for i in form.material %}
            {{ i }}
            {{ i.label }}<br>
          {% endfor %}<br>
          <div class="form-check">
            {{ form.commission() }} {{ form.commission.label }}<br>
            {{ form.deposit() }} {{ form.deposit.label }}<br>
          </div>
        </div>
      </div>
      <input type="submit" value="Применить фильтр">
    </form>
  </div>
</div><br><br>
          
<div class="container-sm">
  <div class="col-8">
    <h5>Результаты запроса:</h5><br>
    {% for flat in flats.items %}
      <div class="h-100 p-5 bg-light border rounded-3">
        <div class="container-sm">
          <div class="row">
            <div class="col">
              <a href={{ flat.link }} target="_blank">{{ flat.num_rooms }}-комнатная квартира {{ flat.area}} м²</a><br>
              <h7>{{ flat.street }}</h7><br>
              <h7>м. {{ flat.metro }}</h7>
            </div>
            <div class="col-4">
              <h7>{{ flat.price }} &#8381/мес.</h7><br>
              {% if flat.deposit == 0 %}
                <h7>Без залога</h7><br>
              {% else %}
                <h7>Залог {{ flat.deposit }} &#8381</h7><br>
              {% endif %}
              {% if flat.commission == 0 %}
                <h7>Без комиссии</h7><br>
              {% else %}
                <h7>Комиссия {{ flat.commission }} %</h7><br>
              {% endif %}
              <h1></h1>
              <a href={{ flat.link }} button type="button" target="_blank" class="btn btn-primary btn-sm">Перейти к объявлению</a><br>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}<br>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {% if not flats.has_prev %} disabled {% endif %}">
          <a class="page-link" href="http://127.0.0.1:5000/{{ url_for(request.endpoint) }}?page={{ flats.prev_num }}">Назад</a>
        </li>
    
        {% for flat in flats.iter_pages() %}
          {% if flat %}
            <li class="page-item {% if flat == flats.page %} active {% endif %}">
              <a class="page-link" href="http://127.0.0.1:5000/{{ url_for(request.endpoint) }}?page={{ flat }}">{{ flat }}</a>
            </li>
          {% endif %}
        {% endfor %}
        
        <li class="page-item {% if not flats.has_next %} disabled {% endif %}">
          <a class="page-link" href="http://127.0.0.1:5000/{{ url_for(request.endpoint) }}?page={{ flats.next_num }}">Вперед</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}