{% extends 'Base.html' %}

{% block content %}>

<div class="row mt-5">
  <div class="col-md-5 offset-md-4">
    <h4>Поиск квартир в Москве</h4>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-3 offset-md-4">
    
    <form action="{{ url_for('result') }}" method="POST">
      <select class="form-select" name="metro" placeholder="От">
        <option selected>Метро</option>
        {% for metro in list_metro %}
          <option name="metro" value={{ metro }}>{{ metro }}</option>
        {% endfor %}
        </select>
      <div class="col mt-5">
        {% for room in num_rooms %}
          {% if room == 0 %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" name={{ room }} type="checkbox" id="inlineCheckbox1" value={{ room }}>
              <label class="form-check-label" for="inlineCheckbox1">Студия</label>
            </div>
          {% else %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" name={{ room }} type="checkbox" id="inlineCheckbox1" value={{ room }}>
            <label class="form-check-label" for="inlineCheckbox1">{{ room }}</label>
          </div>
          {% endif %}   
        {% endfor %}
        
      </div>
      <div class="row mt-5">
        <div class="input-group">
          <span class="input-group-text">Цена</span>
          <input type="text" name="от" aria-label="First name" placeholder="От" class="form-control">
          <input type="text" name="до" aria-label="Last name" placeholder="До"class="form-control">
        </div>
      </div>
      <div class="row mt-5">
        <div class="form-check form-switch">
          <input class="form-check-input" name="commission" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Без комиссии</label>
        </div>
      </div>
      <div class="row mt-3">
        <div class="form-check form-switch">
          <input class="form-check-input" name="no_deposit" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Без залога</label>
        </div>
      </div>
      <div class="row mt-3">
        <button class="btn btn-primary" type="submit">Найти</button>
      </div>
    </form>   
  </div>  
</div>

{% endblock %}
